<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.torchbell.lovecoach.achievement.dao.AchievementDao">

    <select id="selectAchievementList" resultType="AchievementResponse">
        SELECT
            a.achievement_id,
            a.title,
            a.description,
            a.achievement_type,
            a.achievement_value,
            a.icon_url,
            a.reward_gallery_id,
            a.npc_id,
            IF(ua.achieved_at IS NOT NULL, true, false) as is_achieved,
            ua.achieved_at,
            IFNULL(ua.current_value, 0) as current_value
        FROM achievement a
                 LEFT JOIN user_achievement ua ON a.achievement_id = ua.achievement_id AND ua.user_id = #{userId}
        ORDER BY a.achievement_id ASC
    </select>

    <select id="selectAchievementDetail" resultType="AchievementResponse">
        SELECT
        a.achievement_id,
        a.title,
        a.description,
        a.achievement_type,
        a.achievement_value,
        a.icon_url,
        a.reward_gallery_id,
        a.npc_id,
        IF(ua.achieved_at IS NOT NULL, true, false) as is_achieved,
        ua.achieved_at,
        IFNULL(ua.current_value, 0) as current_value
        FROM achievement a
        LEFT JOIN user_achievement ua ON a.achievement_id = ua.achievement_id AND ua.user_id = #{userId}
        WHERE a.achievement_id = #{achievementId}
    </select>

    <select id="selectAchievementById" resultType="com.torchbell.lovecoach.achievement.model.Achievement">
        SELECT * FROM achievement
        WHERE achievement_id = #{achievementId}
    </select>

    <select id="selectUserAchievement" resultType="com.torchbell.lovecoach.achievement.model.UserAchievement">
        SELECT * FROM user_achievement
        WHERE user_id = #{userId} AND achievement_id = #{achievementId}
    </select>


    <insert id="insertUserAchievement" useGeneratedKeys="true" keyProperty="userAchievementId">
        INSERT INTO user_achievement (user_id, achievement_id, current_value, achieved_at)
        VALUES (#{userId}, #{achievementId}, #{currentValue}, #{achievedAt})
    </insert>

    <update id="updateUserAchievement">
        UPDATE user_achievement
        SET current_value = #{currentValue},
        achieved_at = #{achievedAt}
        WHERE user_achievement_id = #{userAchievementId}
    </update>
</mapper>
