<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.torchbell.lovecoach.gallery.dao.GalleryDao">

    <select id="selectGalleryList" resultType="com.torchbell.lovecoach.gallery.dto.response.GalleryResponse">
        SELECT 
            g.gallery_id, 
            g.title, 
            g.image_url, 
            g.unlock_condition, 
            IFNULL(ug.is_opened, false) as is_opened, 
            IFNULL(ug.is_favorite, false) as is_favorite
        FROM gallery g
        LEFT JOIN user_gallery ug ON g.gallery_id = ug.gallery_id AND ug.user_id = #{userId}
        ORDER BY g.gallery_id ASC
    </select>

    <select id="selectUserGallery" resultType="com.torchbell.lovecoach.gallery.model.UserGallery">
        SELECT * FROM user_gallery
        WHERE user_id = #{userId} AND gallery_id = #{galleryId}
    </select>

    <insert id="insertUserGallery" useGeneratedKeys="true" keyProperty="userGalleryId">
        INSERT INTO user_gallery (user_id, gallery_id, is_opened, is_favorite)
        VALUES (#{userId}, #{galleryId}, #{isOpened}, #{isFavorite})
    </insert>

    <update id="updateUserGallery">
        UPDATE user_gallery
        SET is_opened = #{isOpened},
            is_favorite = #{isFavorite}
        WHERE user_gallery_id = #{userGalleryId}
    </update>

</mapper>
